<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
  	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="assets/css/style.css">

<body ng-controller="vizController">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <p class="navbar-brand">Syria Twitter User Network</p>
          <p class="nav-small-red">Group Project for 'Storing & Retrieving Data', by Tom Kunicki, Charles Maalouf and Janak Mayer</p>
      </div>

    </nav>
    <div class="container">
        <div class="row">

            <div class="col-sm-4">

                <div class="well">
                    <form class="form-horizontal">

                        <div class="form-group">
                          <label for="minFollowers">Filter Users by Minimum Followers</label>
                          <select id="minFollowers" class="form-control" data-ng-model="params.minFollowers" data-ng-options="opt for opt in params.minFollowerOptions"></select>
                        </div>

                        <div class="form-group">
                          <label for="isisFilter">Filter Users by ISIS Attitude:</label>
                          <ui-select id="isisFilter" multiple ng-model="params.isisSelected" theme="select2" ng-click="updateData()" style="width: 100%;">
                              <ui-select-match placeholder="Select ISIS orientation...">{{$item}}</ui-select-match>
                              <ui-select-choices repeat="isis in params.isisOptions | filter:$select.search">{{isis}}</ui-select-choices>
                          </ui-select>
                        </div>

                        <div class="form-group">
                          <label for="groupFilter">Filter Users by Cluster Group:</label>
                          <ui-select id="groupFilter" multiple ng-model="params.groupSelected" theme="select2" ng-click="updateData()" style="width: 100%;">
                              <ui-select-match placeholder="Select hashtags...">{{$item}}</ui-select-match>
                              <ui-select-choices repeat="group in params.groupOptions | filter:$select.search">{{group}}</ui-select-choices>
                          </ui-select>
                        </div>

                        <button type="submit" class="btn btn-default" ng-click="getData()">Apply Filters to Network</button>

                    </form>
                </div>

                <div class="well">
                    <p>Click on a graph node to see user details below<p>
                    <p><strong>Selected Node:</strong> {{selectedNode}}</p>
                    <p><strong>Node in Cluster Group:</strong> {{selectedNodeGroup}}</p>

                    <p><strong>User Name:</strong> {{userDetails.name}}</p>
                    <p><strong>Screen Name: </strong>{{userDetails.screen_name}}</p>
                    <p><strong>ISIS Sentiment: </strong>{{userDetails.sentiment}}</p>
                    <p><strong>Followers Count: </strong>{{userDetails.followers_count}}</p>
                    <p><strong>Following Count: </strong>{{userDetails.following_count}}</p>
                    <p><strong>URL: </strong><a href="{{userDetails.url}}">{{userDetails.url}}</a></p>
                    <p><strong>Description: </strong>{{userDetails.desc}}</p>
                    <p><strong>Location: </strong>{{userDetails.location}}</p>
                    <p><strong>Top Hashtags:</strong></p>
                    <ul>
                        <li ng-repeat="tag in userDetails.tags">Hashtag: {{tag[0]}}, Frequency: {{tag[1]}}</li>
                    </ul>


                </div>

            </div>

            <div class="col-sm-8">

                <sigma-graph graph="graph" width="100%" height="800px" selected-node="selectedNode" selected-node-group="selectedNodeGroup"></sigma-graph>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="form-group">
                        <label for="clusterView">View Hashtag Wordcloud for a Cluster:</label>
                        <select id="clusterView" class="form-control" data-ng-model="selectedNodeGroup" data-ng-options="opt for opt in params.clusterviewOptions"></select>
                    </div>
                    <img src="http://data.enalytica.com:9600/word-cloud?isis_group=anti&group={{selectedNodeGroup}}" width="100%">
                </div>
            </div>
        </div>
    </div>



    <!-- Angular scripts-->
    <script src="assets/js/angular.js"></script>

    <!-- sigma.js-->
    <script src="assets/js/sigma.min.js"></script>

    <!-- angular bootstrap -->
    <script src="assets/js/ui-bootstrap-tpls-0.12.1.min.js"></script>

    <!-- ui select -->
    <script src="assets/js/select.js"></script>

    <script src="app/app.js"></script>
    <script src="app/directives.js"></script>
    <script src="app/services.js"></script>
    <script src="app/controllers.js"></script>
</body>

</html>